:root {
    --hoverbglien: rgb(64, 94, 62);
    --hovercollien: #fff;

    --hoverbgsub: var(--hovercollien);
    --hovercolsub: var(--hoverbglien);

    --menubg: #787878;
}

* {
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    min-height: 100vh;

    background-color: #850404;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

img {
    width: 20px;
}

#logo {
    margin: 20px;
}

#logo img {
    width: 10vw;
    max-width: 120px;
    min-width: 75px;
}

body {
    padding: 0 10px 0 10px;

}

/* ------header----- */

/* placement des E dans #menu */
#menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--menubg);
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    width: fit-content;
    max-width: 100%;
}

.navagenda {
    margin: 0 10px 0 10px;
    display: flex;
    justify-content: space-around;
    width: 100px;
}

/* espace autour des nav */

.pad {
    padding: 10px;
    display: inline-block;
    width: 150px;
}

/* couleur base */

.sub li {
    background-color: var(--hoverbglien);
    color: var(--hovercollien);
}

/* hover au passage souri */

nav li:hover,
.navagenda a:hover {
    background-color: var(--hoverbglien);
    color: var(--hovercollien);
}

.sub li:hover {
    background-color: var(--hoverbgsub);
    color: var(--hovercolsub);
}

/* angles hover */

menu li:hover {
    border-radius: 0 15px 0 0;
}

.right li:hover {
    border-radius: 15px 0 0 0;
}

.sub li:last-child {
    border-radius: 0 0 15px 15px;
}


.right {
    text-align: right;
}

.sub {
    display: none;
}

li {
    position: relative;
}

li:hover .sub {
    display: block;
    position: absolute;
    z-index: 2;
}

/* ---------spécificités portatif */

/* disparition formulaire d'ajout au profit d'un bouton pour un page de formulaire */

form {
    display: none;
}

/* --placement bouton en bas à gauche */

section {
    position: relative;
}

#ajoutptb {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px;
}


#ajoutptb:hover{    box-sizing: content-box;
background-color:var(--hoverbglien);padding: 5px;border-radius: 15px;}
#ajoutptb img {
    width: 40px;
}

/* ---------formatage main */
main {
    display: flex;

    /* --------hauteur fixe pour mieux voir à retirer aprés */
    height: 500px;
    background-color: #ffffff;

    /* margin-top: 20px; */
}

/* -------------formatage section */

/* hover les bouton de submit et formulaire */
#submit {
    margin: 0 auto;
    text-align: center;
    /* background-color: #ac0000; */
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

#submit input {
    height: 90%;
}
#submit input:hover {
background-color: var(--hoverbglien);}

section {
    width: 100%;
}


@media screen and (min-width:900px) {
    body {
        background-color: aqua;
    }

    #menu {
        margin: 0;
    }

    .barre {
        width: 50vw;
        display: flex;
        background-color: var(--menubg);
        justify-content: flex-end;
        border-radius: 0 15px 15px 0;
    }

    body {
        padding-left: 0;
    }

    /* spe écran laptop */
    /* disparition de l'icone ajout et apparition du formulaire */
    #ajoutptb {
        display: none;
    }

    form {
        display: block;
        background-color: var(--menubg);
    }

    /* formatage aside */
    aside {
        height: 100%;
        background-color: var(--menubg);
        padding: 10px;
        width: 200px;
    }

    /* formatage forme */
    form input,
    form textarea {
        border-radius: 15px;
        margin: 5px;
        padding: 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%
    }

    textarea {
        resize: none;
    }


}